{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} | Anita</title>
    <link href="{% static 'css/bootstrap-grid.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap-reboot.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-danger bg-danger">
      <a href="#"><img src="{% static 'svg/logo.svg' %}" alt="logo" height="200"/></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact"
              >Contact <span class="sr-only"></span
            ></a>
          </li>
        </ul>
        <div class="ml-5">
          <div class="btn btn-info">Log In</div>
          <div class="btn btn-primary">Sign Up</div>
        </div>
      </div>
    </nav>
    {% block content %}{% endblock %}
    <footer></footer>
    <script src="{% static 'js/bootstrap.js' %}"></script>
  </body>
</html>